body {
    background-color: blanchedalmond;
    background-size: 100%;
    background-attachment: fixed;
    overflow: auto;
    position: relative;
    min-height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.list-id {
    background-color: #FF803E;
    border-radius: 4px 0 0 4px;
    padding: .5em;
}

.list-name {
    background-color: #FFC44F;
    border-radius: 0 4px 4px 0;
    padding: .5em;
    transition: background-color .2s;    
}

.list-item {
    margin: .5em 0;

}

.list-item:hover {
    border-radius: 4px;
    background-color: #FF803E;
    padding: .5em 0;
}

.list-item:hover .list-name {
    background-color: #FF803E;
}

.delete {
    display: none;
}

.list-item:hover .delete {
    display: inline;
    background-color: #FFC44F;
    border-radius: 0 4px 4px 0;
    padding: .5em;
    cursor: pointer;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}

.list a {
    color: black;
    text-decoration: none;
    margin: 0;
}

.list li {
    margin: 2em 0;
}

.list-details {
    margin: .5em 0;
}

.button {
    background-color: #FF803E;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    transition: background-color .2s;
    padding: .5em;
}

.button:hover {
    background-color: #FFC44F;
}

.labels {
    float: left;
    /* display: inline-block; */
    text-align: right;
    margin-right: .5em;
    height: 100%;
}

.inputs {
    float: left;
    /* display: inline-block; */
    margin-right: .5em;
}

.label {
    margin: .15em 0 .55em 0;
}

.buttons {
    float: left;
}

.form-wrapper {
    overflow: auto;
    width: 100%;
}

input {
    border-radius: 4px;
    border-width: .1em;
    border-style: solid;
    border-color: #4C4C4C;
    width: 10em;
    height: 1.25em;
    margin-bottom: .25em;
}